:root {
  --font-family--sans-serif: "Roboto", "Helvetica Neue", Helvetica, Roboto,
    Arial, sans-serif;

  /* 1rem = 10px */
  --base-font-size: 62.5%;
  --base-line-height: 1.6;
  --base-bg: 0, 0%, 8%;
  --base-font-color: 0, 0%, 100%;
  --base-font-family: var(--font-family--sans-serif);
  --base-font-weight: 400;
  --base-font-style: normal;

  --letter-spacing: 0.4px;

  --primary-color: 207, 90%, 54%;
  --secondary-color: 225, 6%, 13%;

  --text-color: 0, 0%, 98%;
  --text-color-grey: 207, 5%, 52%;

  --selection-color: 213, 92%, 85%;

  --layout-nav-width: 10rem;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-family: var(--base-font-family);
  font-size: var(--base-font-size);
  font-style: var(--base-font-style);
  font-weight: var(--base-font-weight);
  line-height: var(--base-line-height);
  color: hsl(var(--base-font-color));
  background-color: hsl(var(--base-bg));
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/**
* Remove text-shadow in selection highlight:
* https://twitter.com/miketaylr/status/12228805301
*
* These selection rule sets have to be separate.
* Customize the background color to match your design.
*/
::moz-selection {
  text-shadow: none;
  background: hsl(var(--selection-color));
}

::selection {
  text-shadow: none;
  background: hsl(var(--selection-color));
}

/**
* A better looking default horizontal rule
*/

hr {
  display: block;
  height: 1px;
  padding: 0;
  margin: 1em 0;
  border: 0;
  border-top: 1px solid hsl(0, 0%, 80%);
}

/**
* Remove the gap between audio, canvas, iframes,
* images, videos and the bottom of their containers:
* https://github.com/h5bp/base5-boilerplate/issues/440
*/

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/**
* Remove default fieldset styles.
*/

fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}

/**
* Allow only vertical resizing of textareas.
*/

textarea {
  resize: vertical;
}

/**
* Responsive images
*/

img {
  display: inline-block;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
}

table {
  width: 100%;
  border-collapse: collapse;

  th,
  td {
    padding: 0.5rem 0;
    text-align: left;
  }
}

a.active {
  color: hsl(var(--primary-color));
}

a.active:hover,
a.active:focus {
  opacity: 1;
}

.main {
  overflow: hidden;
}
